body {
  background:white;
}
 /* linear-gradient(309deg, white 61%,  black 48%, white 62%) 50% 50% / 5em 3em;
}*/
/*
h1 {
  padding-top: 20px;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 30px;
}*/

#game {
  padding-top: 120px;
  width: 575px;
  margin: 0 auto;
}

.line {
  display: flex;
  flex-direction: row;
}

#reset {
  margin-top: 100px;
  width: 100px;
  padding: 5px;
  background-color: black;
  color: white;
}

.bt {
  width: 193px;
  height: 117px;
  background: 
  linear-gradient(219deg, black 61%,  white 63%, black 63%) 50% 50% / 5em 3em;
}

.bird {
  background-image: url(bird3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.dino {

  background-image: url(brontossauro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black
}

.winner {
  border: 10px black solid;
}
